<div>
<h1 align="center">Home Page</h1>

<div ui-view></div>
<div style="padding-top: 100px"></div>
<center style="padding-top: 100px;">
<button class="button1" style="display: inline-block;" ng-click="goMain1()"><span>Main1</span></button>
<button class="button1" style="display: inline-block;"  ng-click="goMain2()"><span>Main2</span></button>
<br>
<button class="button1" style="display: inline-block;"  ng-click="goMain3()"><span>Main3</span></button>
<button class="button1" style="display: inline-block;" ng-click="toHome()"><span>Home</span></button>
</center>
</div>